/*Start Global Rules*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition-du: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=EB+Garamond&family=Marhey&family=Open+Sans:wght@400;700&family=Reem+Kufi+Fun:wght@400..700&family=Work+Sans:wght@200;300;400;500;600;800&display=swap');
* {
    font-family: "Reem Kufi Fun", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
  }

@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*Small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*Medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*Large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*Start header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background: rgb(20, 16, 141);
  background: linear-gradient(
    90deg,
    rgba(20, 16, 141, 1) 20%,
    rgba(255, 0, 0, 1) 100%
  );
}
.header .logo {
}
.header .logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.header .text {
}
.header .text1 h2 {
  color: rgb(254, 185, 20);
}
/*end header*/
/*Start Menu*/
.menu img{
    width: 100%;
    /* margin-top: 0px; */
    border-top: solid 5px rgb(250 181 25);
}@import url('https://fonts.googleapis.com/css?family=Poppins');
body, html{
  margin: 0;
  background: #2b2927;
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
h1{
  text-align: center;
  color:white;
}
.container-all{
  width: fit-content;
  margin: 20px auto;
  height: auto;
}
.container{
  width: calc(33% - 6px);
  overflow:hidden;
  height: fit-content;
  margin:3px;
  padding: 0;
  display:block;
  position:relative;
  float:left;
}
img{
  width: 100%;
  transition-duration: .3s;
  max-width: 100%;
  display:block;
  overflow:hidden;
  cursor:pointer;
}
.title{
  position:absolute;
  display:block;
  cursor:pointer;
  top: 35%;
  display: none;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.6em;
  text-shadow: 1px 5px 10px black;
  transition-duration: .3s;
}
.text{
  position:absolute;
  top: 70%;
  cursor:pointer;
  max-width: 80%;
  text-align:center;
  left: 50%;
  text-shadow: 1px 5px 10px black;
  font-size: 1em;
  display:none;
  margin-right: -50%;
  transition-duration: .3s;
  transform: translate(-50%, -50%) 
}
.container:hover img{
  transform: scale(1.2);
  transition-duration: .3s;
  filter: grayscale(50%);
  opacity: .7;
}
.container:hover span{
  color:white;
  display: block;
  transition-duration: .3s;
}
.footer .containerx{
    padding-top: 50px;
    display: flex;
    direction: rtl;
    align-items: center;
    width: calc(100% );
    justify-content: space-around;
    background: rgb(20, 16, 141);
    background: linear-gradient(
      90deg,
      rgba(20, 16, 141, 1) 20%,
      rgba(255, 0, 0, 1) 100%
    );
    padding-bottom: 30px;
}
.footer .containerx h3{
    color: rgb(254, 185, 20);
}
.footer .containerx ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer .containerx li{
    display: flex;
    align-items: center;
    gap: 15px;
}
/*fa-whatsapp*/
.footer .containerx .fa-whatsapp{
    color: green;
    font-size: 30px;

}
.footer .containerx .fa-facebook{
    color:blue;
    font-size: 30px;

}
.footer .containerx .fa-tiktok{
    color:#204681;
    font-size: 30px;

}
.footer .containerx a{
    color:  rgb(254, 185, 20);
}
@media only screen and (max-width: 900px) {
    .container {
        width: calc(100% - 6px);
    }
    .header {
        gap: 0rem;
      }
     
      .header .logo img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      .header .text1 h2 {
        color: rgb(254, 185, 20);
        font-size: 18px;
      }
}

@media only screen and (max-width: 400px) {
    .container {
        width: 100%;
    }
}
@media(max-width:660px){
    .footer .containerx{
        flex-direction: column;
      
    }
    .footer{
      
    }
}